<p>Enter your phrase below, paying special attention to morpheme and word boundaries. Separate words with a single space and morphemes with a single hyphen. All lines of the gloss must be equally marked for morpheme and word boundaries.</p>

<% if @error %>
<p id="error">
	<%= @error %>
</p>
<% end %>

<%= form_tag({:action => :create}, :method => "post") do %>

	<%= label_tag :orthography, "Orthography:" %>
	<%= text_field_tag :orthography %>
	<br />
	
	<%= label_tag :lexical_entry, "Lexical Entry:" %>
	<%= text_field_tag :lexical_entry %>
	<br />

	<%= label_tag :gloss, "Gloss:" %>
	<%= text_field_tag :gloss %>
	<br />

	<%= label_tag :translation, "Translation:" %>
	<%= text_field_tag :translation %>
	<br />
	
	<%= label_tag :judgment, "Grammaticality Judgment" %>
	<%= text_field_tag :judgment %>
	<br />
	
	<%= submit_tag 'Add Phrase' %>

<% end %>