<% title 'Phrases' %>

<h1>Phrases in <%= @current_language %></h1>

<table id="phraseList">
	<% @phrases.each do |phrase| %>
	<tbody>
		<tr>
			<td><%= link_to 'orthography', language_phrase_path(phrase.language, phrase) %></td>
			<% phrase.lexemes.each do |lexeme| %>
				<td><%= lexeme.morphemes.map(&:orthography).join('') %></td>
			<% end %>
		</tr>
	
		<tr>
			<td><%= link_to 'lexical entry', language_phrase_path(phrase.language, phrase) %></td>
			<% phrase.lexemes.each do |lexeme| %>
				<td><%= lexeme.morphemes.map(&:lexical_entry).join('-') %></td>
			<% end %>
		</tr>
	
		<tr>
			<td><%= link_to 'gloss', language_phrase_path(phrase.language, phrase) %></td>
			<% phrase.lexemes.each do |lexeme| %>
				<td><%= lexeme.morphemes.map(&:gloss).join('-') %></td>
			<% end %>
		</tr>
	
		<tr>
			<td><%= link_to 'translation', language_phrase_path(phrase.language, phrase) %></td>
			<% phrase.lexemes.each do |lexeme| %>
				<td><%= lexeme.morphemes.map(&:translation).join('') %></td>
			<% end %>
		</tr>
	</tbody>
	<% end %>
</table>

<%= paginate @phrases %>

<br />

<%= link_to 'New Phrase', new_language_phrase_path %>
