<% title 'Stories' %>
<h1>Stories in <%= @current_language %> </h1>

<% if @stories.empty? then %>

<p>There aren't any stories here&mdash;maybe you'd like to <%= link_to 'create a story', new_language_story_path %> instead?</p>

<% else %>

<ul>
<% @stories.each do |story| %>
	<li>
		<%= link_to story.name, language_story_path(story.language, story) %>
	</li>
<% end %>
</ul>
	
<%= paginate @stories %>	

<% end %>

<br />

<%= link_to 'New Story', new_language_story_path %>
