<% title 'Lexemes' %>
<h1>Lexemes in <%= @current_language %></h1>

<table id="list">
	<tr>
		<td>id</td>
		<td>orthography</td>
		<td>lexical entry</td>
		<td>gloss</td>
		<td>translation</td>
	</tr>

<% @lexemes.each do |lexeme| %>
	<tr>		
		<td><%= link_to lexeme.id, language_lexeme_path(lexeme.language, lexeme) %></td>
		
		<td><%= lexeme.morphemes.map(&:orthography).join '' %></td>
		
		<td><%= lexeme.morphemes.map(&:lexical_entry).join '-' %></td>
		
		<td><%= lexeme.morphemes.map(&:gloss).join '-' %></td>
		
		<td>
		<% if lexeme.free_translation and not lexeme.free_translation.empty? then %>
			<%= lexeme.free_translation %>
		<% else %>
			<%= lexeme.morphemes.map(&:translation).join '' %>
		<% end %>
		</td>
	</tr>
<% end %>
</table>

<%= paginate @lexemes %>

<br />

<%= link_to 'New Lexeme', new_language_lexeme_path %>
