<section>
	<h1>Lexicon (Browse Mode)</h1>
	
	<table class="entry">
		<tr>
			<td>orthography</td>
			<td><%= @lexeme.morphemes.map(&:orthography).join '' %></td>
		</tr>
		<tr>
			<td>lexical entry</td>
			<td><%= @lexeme.morphemes.map(&:lexical_entry).join '-' %></td>
		</tr>
		<tr>
			<td>gloss</td>
			<td><%= @lexeme.morphemes.map(&:gloss).join '-' %></td>
		</tr>
		<tr>
			<td>translation</td>
			<% if @lexeme.free_translation and not @lexeme.free_translation.empty? then %>
				<td><%= @lexeme.free_translation %></td>
			<% else %>
				<td><%= @lexeme.morphemes.map(&:translation).join '' %></td>
			<% end %>
		</tr>
	</table>

	<section>
		<section>
			<p><span>notes</span><%= @lexeme.notes %></p>
			<p><span>media</span><a href="#">audio recording</a></p>
		</section>

		<table>
			<tr>
				<td>pos</td>
				<td><%= @lexeme.pos %></td>

				<td>tense</td>
				<td><%= @lexeme.tense %></td>

				<td>aspect</td>
				<td><%= @lexeme.aspect %></td>
			</tr>
			<tr>
				<td>mood</td>
				<td><%= @lexeme.mood %></td>

				<td>voice</td>
				<td><%= @lexeme.voice %></td>

				<td>person</td>
				<td><%= @lexeme.person %></td>
			</tr>
			<tr>
				<td>number</td>
				<td><%= @lexeme.number %></td>
			
				<td>gender</td>
				<td><%= @lexeme.gender %></td>
		
				<td>case</td>
				<td><%= @lexeme.case %></td>
			</tr>
		</table>
	</section>

	<div class="clear"></div>
</section>

<%= link_to 'Edit', edit_language_lexeme_path(@lexeme) %> |
<%= link_to 'Back', language_lexemes_path %>
