<%= form_for([:language, @morpheme]) do |f| %>
  <% if @morpheme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@morpheme.errors.count, "error") %> prohibited this morpheme from being saved:</h2>

      <ul>
      <% @morpheme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :orthography %><br />
    <%= f.text_field :orthography %>
  </div>
  <div class="field">
	<%= f.label :lexical_entry %><br />
	<%= f.text_field :lexical_entry %>
  </div>
  <div class="field">
    <%= f.label :gloss %><br />
    <%= f.text_field :gloss %>
  </div>
  <div class="field">
    <%= f.label :translation %><br />
    <%= f.text_field :translation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
