<% title 'Morphemes' %>
<h1>Morphemes in <%= @current_language %></h1>

<table id="list">
  <tr>
	<td>id</td>
    <td>orthography</td>
	<td>lexical entry</td>
    <td>gloss</td>
    <td>translation</td>
  </tr>

<% @morphemes.each do |morpheme| %>
  <tr>
	<td><%= link_to morpheme.id, language_morpheme_path(morpheme.language, morpheme) %></td>
    <td><%= morpheme.orthography %></td>
	<td><%= morpheme.lexical_entry %>
    <td><%= morpheme.gloss %></td>
    <td><%= morpheme.translation %></td>
  </tr>
<% end %>
</table>

<%= paginate @morphemes %>

<br />

<%= link_to 'New Morpheme', new_language_morpheme_path %>
